<div class="container my-4 edit-form">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="form-card">
        <h1 class="my-5">Detalle de Idea</h1>

        <table class="table table-borderless">
          <tbody>
            <tr>
              <th scope="row">ID</th>
              <td>{{ oIdea()?.id }}</td>
            </tr>
            <tr>
              <th scope="row">Título</th>
              <td>{{ oIdea()?.titulo }}</td>
            </tr>
            <tr>
              <th scope="row" class="align-middle">Comentario</th>
              <td>{{ oIdea()?.comentario }}</td>
            </tr>
            <tr>
              <th scope="row">Categoría</th>
              <td>
                <span class="badge" 
                  [class.bg-primary]="oIdea()?.categoria === 'IDEA'"
                  [class.bg-success]="oIdea()?.categoria === 'MEJORA'"
                  [class.bg-danger]="oIdea()?.categoria === 'BUG'">
                  {{ oIdea()?.categoria }}
                </span>
              </td>
            </tr>
            <tr>
              <th scope="row">Público</th>
              <td>
                @if (oIdea()?.publico) {
                  <i class="bi bi-check-circle-fill text-success" title="Esta idea es pública"></i> Sí
                } @else {
                  <i class="bi bi-x-circle-fill text-danger" title="Esta idea es privada"></i> No
                }
              </td>
            </tr>
            <tr>
              <th scope="row">Fecha Creación</th>
              <td>{{ oIdea()?.fechaCreacion }}</td>
            </tr>
            <tr>
              <th scope="row">Fecha Modificación</th>
              <td>{{ oIdea()?.fechaModificacion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
